*.vcxproj
*.filters
*.log
*.tlog

*CMakeCache.txt
*.obj
*.exe
*.rule
SDK/glfw-3.1.1/tests/empty.dir/Debug/vc110.pdb
pdb
*pdb
*.lastbuildstate*
*.cache*
*.ilk*
*.stamp*
*cmake_install.cmake*
*.pc*
*Compiler.cmake*
SDK/lib/Debug/glfw.lib
*CTestTestfile.cmake*
*.bin*
*CMakeFiles*
*.sln*
*.sdf*
*.suo*
SDK/glfw-3.1.1/src/glfw_config.h
SDK/glfw-3.1.1/src/glfw3ConfigVersion.cmake
SDK/glfw-3.1.1/src/glfw3Config.cmake
SDK/glfw-3.1.1/cmake_uninstall.cmake
/SDK/lib/Debug
/SDK/x64
01_HelloOpenGL/HelloOpenGL.opensdf
.DS_Store
SDK/include/glm/.DS_Store
SimpleModel.xcodeproj
SimpleModel.build
HelloOpenGL.xcodeproj
Debug
DerivedData
CMakeScripts
project.pbxproj
xcshareddata
ZERO_CHECK.xcscheme
UserInterfaceState.xcuserstate
xcschemes
xcuserdata
project.xcworkspace
HW2_Program.build
05_Transformation_Extended/.DS_Store
05_Transformation_Extended/cmake_install.cmake
